@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;	
}

html, body{
    font-family: 'Nunito Sans', sans-serif;
    color: #555555;
    
}

h2{
	font-size: 40px;
}

table{
	letter-spacing: 1.2px;
}

td{
	text-align: center;
}

button{
	border:none;
	background: #6699cc;
	color: #333333;
    transition: 1s;
}


@media only screen and (orientation: portrait){
	*{
		letter-spacing: 1px;
	}
}

body{
	/* display: flex; */
	/* align-items: center; */
	background: white;
    background: -webkit-linear-gradient(to left, #cce8ff, #fff);  
    background: linear-gradient(to left, #cce8ff, #fff); 
}

